<div class="row">
  <div class="container">
  <h2>アニメ一覧</h2>
  <h6>※アニメのリンクはAmazon Prime Videoです。</h6>
  <div class="row">
    
    <!--ｼﾞｬﾝﾙ機能-->
    <div class="col-10 d-flex align-items-start">
        <table>
        <tr>
          <th width="100" class="border-bottom text-center">季節</th>
        </tr>

        <tr>
          <td>
           <% Item.genres.keys.each do |genre| %>
           <div class="text-center">
            <%= link_to root_path(genre: genre) do %>
              <%= I18n.t("enums.item.genre.#{genre}") %>
            <% end %>
           </div>
           <% end %>
          </td>
        </tr>

        <tr>
        <th width="100" class="border-bottom text-center">曜日</th>
        </tr>

        <tr>
          <td>
           <% Item.weekdays.keys.each do |weekday| %>
           <div class="text-center">
            <%= link_to root_path(weekday: weekday) do %>
              <%= I18n.t("enums.item.weekday.#{weekday}") %>
            <% end %>
           </div>
           <% end %>
          </td>
        </tr>
      </table>


      <div class="col-1"></div>

      <table>
        <tr>
          <td width="100">
            <h5>季節</h5>
          </td>

          <td width="100">
            <h5>曜日</h5>
          </td>

          <td width="800">
            <h5>アニメ名</h5>
          </td>

          <td width="100"></td>
        </tr>

        <% @items.each do |item| %>
        <tr>
          <td>
            <%= item.genre_i18n %>
          </td>

          <td>
            <%= item.weekday_i18n %>
          </td>

          <td>
            <%= link_to public_item_path(item.id) do %>
              <%= item.name %>
            <% end %>
          </td>
          
          <!--いいね機能-->
          <% if customer_signed_in? %>

          <td>
            <% if item.like_by?(current_customer) %>
              <p>
                ♥<%= item.likes.count %> いいね
              </p>
              <% else %>
              <p>
                ♥<%= item.likes.count %> いいね
              </p>
            <% end %>
          </td>
        <% end %>
        </tr>
        <% end %>
      </table>

    </div>
      
      <!--カレンダー機能-->
      <div class="col-2">
        <%= month_calendar do |date| %>
          <%= date.day %>
        <% end %>
      </div>
    </div>
  </div>

</div>
<%= paginate @items %>